[Desktop Entry]
Name=Smurf
Type=Application
Comment=A sound font editor
Comment[pl]=Edytor fontów dźwiękowych
Exec=smurf
Terminal=false
Categories=GTK;Audio;
# vi: encoding=utf-8
