[Desktop Entry]
Name=smurf
Type=Application
Comment=A sound font editor
Comment[pl]=Edytor fontów dźwiękowych
Exec=smurf
Terminal=0
# vi: encoding=utf-8
